@model IEnumerable<NETCKTEAM30.Models.NhaCungCap>

@{
    ViewData["Title"] = "Index";
}

<meta name="viewport" content="width=device-width" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - NETCKTEAM30</title>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<link href="~/css/mycss.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>


<body>


    
        <a class="btn btn-danger" asp-action="index" asp-controller="NhaCungCaps">Nhà Cung cấp</a>
        <a class="btn btn-primary" asp-action="index" asp-controller="HangHoas">Hàng Hóa</a>
        <a class="btn btn-success" asp-action="index" asp-controller="Loais">Loai</a>
        <a class="btn btn-info" asp-action="index" asp-controller="NguoiDungs">Người Dùng</a>
        <a class="btn btn-warning" asp-action="index" asp-controller="HoaDons">Đơn Hàng Trong Ngày</a>
        <button type="button" class="btn btn-danger" asp-action="index" asp-controller="HoaDons">Doanh Số</button>



    </div>
    <br />

    <p>
        <a asp-action="Create" class="btn btn-danger">Thêm Nhà Cung Cấp</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tên Nhà Cung Cấp
                </th>
                <th>
                    Địa Chỉ
                </th>
                <th>
                    SĐT
                </th>
                <th>
                   Email
                </th>
                <th>
                    Mô Tả
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenNhaCc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SDT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoTa)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.NhaCungCapID"class="btn btn-danger">Chỉnh sửa</a> |
                        <a asp-action="Details" asp-route-id="@item.NhaCungCapID"class="btn btn-danger">Chi Tiết</a> |
                        <a asp-action="Delete" asp-route-id="@item.NhaCungCapID"class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>


