@model NETCKTEAM30.Models.NguoiDung

@{
    ViewData["Title"] = "Delete";
}

<meta name="viewport" content="width=device-width" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - NETCKTEAM30</title>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<link href="~/css/mycss.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>


<body>
    <a class="btn btn-danger" asp-action="index" asp-controller="NhaCungCaps">Nhà Cung cấp</a>
    <a class="btn btn-primary" asp-action="index" asp-controller="HangHoas">Hàng Hóa</a>
    <a class="btn btn-success" asp-action="index" asp-controller="Loais">Loai</a>
    <a class="btn btn-info" asp-action="index" asp-controller="NguoiDungs">Người Dùng</a>
    <a class="btn btn-warning" asp-action="index" asp-controller="HoaDons">Đơn Hàng Trong Ngày</a>
    <button type="button" class="btn btn-danger" asp-action="index" asp-controller="HoaDons">Doanh Số</button>
    
    <div>
        <h4>Xóa Người Dùng Này ?</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Họ Tên
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HoTen)
            </dd>
            <dt>
                Giới Tính
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GioiTinh.TenGT)
            </dd>
            <dt>
               Ngày Sinh
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NgaySinh)
            </dd>
            <dt>
                Địa Chỉ
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DiaChi)
            </dd>
            <dt>
                SĐT
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SDT)
            </dd>
            <dt>
                Email
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                Hình
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Hinh)
            </dd>
            <dt>
                Loại Người Dùng
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LoaiNgDung.TenLoai)
            </dd>
            <dt>
                Tên Đăng Nhập
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TenDangNhap)
            </dd>
            <dt>
                Mật Khẩu
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MatKhau)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="NguoiDungID" />
            <input type="submit" value="Xóa" class="btn btn-default btn btn-info" /> 
            <br />
            <br />
            <a asp-action="Index"class="btn btn-info">Trở Về</a>
        </form>
    </div>
</body>